@media (min-width: 992px) {
  #header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    height: 30vh;
  }

  #lists-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  li {
    font-size: 25px;
  }
}
