* {
  box-sizing: border-box;
  margin: 0;
}

#header {
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  font-family: "Dancing Script";
}

main {
  background-image: url("../js-lyon-0924-P1-tousdoux/images/backgroundmain.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-left: 2em;
  margin-right: 2em;
  color: rgb(10, 10, 10);
  padding-left: 0;
  text-align: center;
  gap: 2em;
}

main img {
width: 20em;
height: 10em;
}

#container-title {
  display: flex;
  justify-content: center;
  letter-spacing: 0.4em;
  font-size: 1.2em;
}

#days-liste {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  font-size: 1.2em;
  font-weight: bold;
}

li {
  list-style: none;
}

header,
button,
footer {
  background-color: #ffe8a3;
}
footer img {
  width: 100px;
  margin-left: 1em;
}

footer {
  display: flex;
  align-items: center;
  align-content: space-evenly;
  justify-content: center;
  background-color: #ffe8a3;
}
